Global:
swift_auth: https://swift.com/auth/v1.0
swift_user: swift:user
swift_password: supersecret
hostname: openstack06
expire_days: 365
lookback_hrs: 1

Logfiles: [
    { label: syslog, directory: /var/log/syslog/hourly/, file_name: syslog, compress: true, remove: false }
    { label: auth, directory: /var/log/auth/hourly/, file_name: auth, compress: true, remove: false }
]

